.wrapper {
  position: relative;
}

.appointmentWrapper {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 1rem;
  border: 1px solid var(--border);
  height: 100vh;
  animation: appear 0.4s;
  animation-fill-mode: forwards;
  z-index: 2;
  width: 26vw;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  animation: backgroundAppear 0.3s;
  animation-fill-mode: forwards;
}


.datePicker {
  margin-top: 20px;
  width: 100%;

}

.bookingHoursSection {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.bookingHourButton {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  
  &:hover {
    background-color: #e0e0e0;
  }
}

.selected {
  background-color: var(--primary-color);
  color: white;
}

.bookButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.bookButton:hover {
  background-color: #0056b3;
}


@keyframes backgroundAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    right: 0vh;
    opacity: 0;
  }

  100% {
    right: 0vw;
    opacity: 1;
  }
}